!.devcontainer/README.md
!.devcontainer/recommended-devcontainer.json
!.devcontainer/recommended-Dockerfile
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.bazelrc.user
.build-analytics
.c9/
.classpath
.devcontainer/*
.DS_Store
.idea/
.notes.md
.nvimrc
.project
.settings/
.vimrc
.vscode/*
*.launch
*.log
*.sublime-workspace
*.swo
*secret.js
/.idea
/.sass-cache
/bazel-out
/connect.lock
/coverage
/dist
/e2e/*.map
/integration/bazel/bazel-*
/libpeerconnection.log
/modules/rollup-test/dist/
/node_modules
/out-tsc
/tmp
/typings
baseline.json
e2e_test.*
modules/.settings
modules/.vscode
node_modules
npm-debug.log
pubspec.lock
testem.log
Thumbs.db
yarn-error.log
